# PlatformIO
.pio/
*.bin
*.elf
*.map

# Secretos y entornos locales
secrets.ini
.env

# VS Code local
.vscode/
*.code-workspace

# OS / MacOS / Linux
.DS_Store
*.sqlite

# Desarrollo Python y catálogo local
__pycache__/
*.pyc
*.sqlite-wal
*.sqlite-shm
